.borderSq
{
  width: 200px;
  margin-left: 440px;
  position:  absolute;
}
.borderCi
{
  width: 200px;
  margin-right: 50px;
  position: absolute;
}
.borderTr
{
  width: 200px;
  margin-left: 210px;
  position: absolute;
}


.borderEx0
{
  /* border: 3px solid #73AD21; */
  width: 200px;
  height: 200px;
  margin-left: 680px;
  background-color: blue;
  position: absolute;
}
.borderEx1
{
  /* border: 3px solid #73AD21; */
  width: 200px;
  height: 200px;
  margin-left: 680px;
  position: absolute;
}
.borderEx2
{
  /* border: 3px solid #73AD21; */
  width: 200px;
  height: 200px;
  margin-left: 680px;
  position: absolute;
}
.borderEx3
{
  /* border: 3px solid #73AD21; */
  width: 200px;
  height: 200px;
  margin-left: 680px;
  position: absolute;
}




.square
{
  height: 200px;
  width: 200px;
  background-color: pink;
}

.circle
{
  height: 200px;
  width: 200px;
  background-color: red;
  border-radius: 50%;
}

.triangle
{
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 200px solid lightgreen;
}

.ex0
{
  /* Top triangle */
  width: 0;
	height: 0;
  margin-left: 40px; /* moves the triangle left to right */
  margin-top: 140px; /* moves the triangle up and down on the screen */
	border-left: 60px solid transparent; /* moves top point along the x axis. Higher the number the more east it goes */
	border-right: 60px solid transparent; /* moves bottom right point along the x axis. Higher the number the more east it goes */
	border-bottom: 60px solid white; /* controls the size of the triangle height wise. Higher the number the taller it gets */
}
.ex1
{
  /* bottom triangle */
  width: 0;
	height: 0;
  margin-left: 40px; /* moves the triangle left to right */
  margin-bottom: 140px; /* moves the triangle up and down on the screen */
	border-left: 60px solid transparent;/* moves top point along the x axis. Higher the number the more east it goes */
	border-right: 60px solid transparent;/* moves bottom right point along the x axis. Higher the number the more east it goes */
	border-top: 60px solid white; /* controls the size of the triangle height wise. Higher the number the taller it gets */
}
.ex2
{
  /* right triangle */
  width: 0;
	height: 0;
  margin-left: 140px;
  margin-top: 20px;
	border-top: 80px solid transparent;
	border-right: 60px solid white;
	border-bottom: 80px solid transparent;

}
.ex3
{
  width: 0;
	height: 0;
  margin-top: 20px;
	border-top: 80px solid transparent;
	border-left: 60px solid white;
	border-bottom: 80px solid transparent;
}
