*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  /* width: 100%; */
  height: 100vh;
  /* position: relative; */
  /* overflow: hidden; */
  background: linear-gradient(to right, #9c27b0, #8ecdff);
}


/* At the very top of the file you will see that the indexing of the page is used to set the background at a margin of 0 and a padding of 0.

.main is referred to on this page by the styling tag placed in the index html file. The reason why this is good practice is once the file becomes bigger you are going to want to refer back to an easy to follow code for any dismantling or debugging*/
