* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #545454;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  /* border: 3px solid #73AD21; */
}

.container {
  background: #14BDAC;
  margin: 10px;
  padding: 50px;
  border-radius: 50px;
  align-items: center;


}

.title {
  text-align: center;
}

.title span {
  color: #F2EBD3;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
  height: 10px;
}

.status span {
  color: #F2EBD3;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #F2EBD3;
}

.game-grid {
  background: #0DA192;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px;
  margin-top: 0px;
}

.game-cell {
  background: #14BDAC;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 200px;
  width: 200px;
}

.x,
.o {
  cursor: default;
}

.x::after {
  content: '×';
  font-size: 200px;
}

.o::after {
  content: '○';
  color: #F2EBD3;
  font-size: 225px;
}

.won::after {
  color: #BD022F;
}

@media only screen and (max-width: 3000px) {

  .game-grid {
    margin-top: 25px;
    grid-gap: 10px;
  }

  .game-cell {
    height: 50px;
    width: 50px;
  }

  .x::after {
    font-size: 50px;
  }

  .o::after {
    font-size: 50px;
  }
}

  #zoomIn {
    height: 50px;
    width: 50px;
    border-radius: 15px;

  }

  #zoomOut {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    /* margin-left: 200px; */
    align-items: flex-end;
  }

.box {

  position: relative;
  /* border: 3px solid #73AD21; */
  padding: 10px;
  right: 403px;

}
